<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarea #2 Salario</title>
    <script src="../js/mainTarea2FindMax.js"></script>


</head>

<body>
    <div class="mainContainer">
        <div class="title">
            <h1 id="title">Tarea Salario by Santiago Marin</h1>
        </div>
        <div class="inputNoches">
            <p>Numero 1</p>
            <input type="number" id="precioBrutoInput">
        </div>

        <div class="inputCliente">
            <p>Numero 2</p>
            <input type="number" id="precioBrutoInput2">
        </div>

        <div class="result">
            <button id="calcularBtn"> Maximo</button>
            <p id="resultadoLbl"></p>
        </div>
        <div class="result">
            <button id="calcularBtn2"> Minimo</button>
            <p id="resultadoLbl"></p>
        </div>
    </div>
</body>

</html>