<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarea #2 Salario</title>
    <script src="../js/mainTarea2Salario.js"></script>
    <link rel="stylesheet" href="../css/styleTareaSalario2.css">

</head>

<body>
    <div class="mainContainer">
        <div class="title">
            <h1 id="title">Tarea Salario by Santiago Marin</h1>
        </div>
        <div class="inputNoches">
            <p>Horas trabajadas</p>
            <input type="number" id="precioBrutoInput" placeholder="Digite total aqui">
        </div>

        <div class="inputCliente">
            <p>Salario x Hora</p>
            <input type="number" id="precioBrutoInput2" placeholder="Salario x Hora">
        </div>

        <div class="result">
            <button id="calcularBtn"> Calcular Salario</button>
            <p id="resultadoLbl"></p>
        </div>
    </div>
</body>

</html>